[Global]
# On which port is the application listening
port = 10000
# On which address is the application listening
# '0.0.0.0' is the default for all IPv4
bind = 0.0.0.0
# enable SSL
ssl = false
# ssl cert
sslcert = /etc/burp/ssl_cert-server.pem
# ssl key
sslkey = /etc/burp/ssl_cert-server.key
# burp backend to load either 'burp1', 'burp2' or 'parallel'.
# You can also use whatever custom backend you like if it is located in the
# 'plugins' directory and if it implements the right interface.
backend = parallel
# agent password
password = azerty

[Security]
## This section contains some security options. Make sure you understand the
## security implications before changing these.
# list of 'root' paths allowed when sourcing files in the configuration.
# Set this to 'none' if you don't want any restrictions, keeping in mind this
# can lead to accessing sensible files. Defaults to '/etc/burp'.
# Note: you can have several paths separated by comas.
# Example: /etc/burp,/etc/burp.d
includes = /tmp/burp
# if files already included in config do not respect the above restriction, we
# prune them
enforce = true
# enable certificates revocation
revoke = true

[Experimental]
## This section contains some experimental features that have not been deeply
## tested yet
# enable zip64 feature. Python doc says:
# « ZIP64 extensions are disabled by default because the default zip and unzip
# commands on Unix (the InfoZIP utilities) don’t support these extensions. »
zip64 = true

[Burp]
tmpdir = /tmp/bui/
timeout = 30
bconfcli = /tmp/burp.conf
stripbin = /usr/bin/vss_strip

# parallel backend specific options
[Parallel]
# address of the monitor pool
host = 127.0.0.1
# port of the monitor pool
port = 11111
# how many time to wait for the monitor pool to answer (in seconds)
timeout = 15
# monitor pool password
password = password123456
# enable SSL
ssl = false
# number of operations to process concurrently
# the value should not exceed the pool size you set in the bui-monitor.cfg file
concurrency = 2
