[Unit]
Description=Burp-UI agent service
After=network.target

[Service]
ExecStart=/usr/local/bin/bui-agent
User=burpui

[Install]
WantedBy=multi-user.target
