*.pyc
*.swp
*.mo
burpui-dev.cfg*
burpui/RELEASE
devel.sh
*.egg*
.coverage
.coveragerc
.pylintrc
dist
_build
.tags
celerybeat-schedule
pkgs/burp-ui-sql/burpui_sql/VERSION
pkgs/burp-ui-extra/burpui_extra/VERSION
pkgs/burp-ui-agent/burpui_agent
