[Global]
# On which port is the application listening
port: 5000
# On which address is the application listening
# '::' is the default for all IPv6
bind: ::
# burp status port
bport: 4972
# burp status address
bhost: 127.0.0.1
# enable SSL
ssl: false
# ssl cert
sslcert: /etc/burp/ssl_cert-server.pem
# ssl key
sslkey: /etc/burp/ssl_cert-server.key
# burp server version (currently only burp 1.x is implemented)
version: 1
# authentication plugin (mandatory)
# list the misc/auth directory to see the available backends
auth: ldap

[UI]
# refresh interval of the pages in seconds
refresh: 15

# ldapauth specific options
[LDAP]
# LDAP host
host: 127.0.0.1
# LDAP filter to list existing users
#filter: &(burpui=1)
# LDAP base
base: ou=users,dc=example,dc=com
# Binddn to list existing users
binddn: cn=admin,dc=example,dc=com
# Bindpw to list existing users
bindpw: Sup3rS3cr3tPa$$w0rd

# basicauth specific options
#[BASIC]
#admin: password
#user1: otherpassword
