include LICENSE
include README.rst
include MANIFEST.in
include burpui/VERSION
include burpui/RELEASE
include requirements.txt
include test-requirements.txt
include share/burpui/etc/burpui.sample.cfg
include share/burpui/etc/buiagent.sample.cfg
include contrib/debian/init.sh
include contrib/centos/init.sh
include contrib/gunicorn.d/burp-ui
include bower.json
include .bowerrc
graft burpui
global-exclude *.pyc
