trio==0.18.0
Flask==2.0.1
Flask-Login==0.5.0
Flask-Babel==2.0.0
Flask-WTF==0.15.1
flask-restx==0.5.1
Flask-Caching==1.10.1
Flask-Session==0.4.0
WTForms==2.3.3
arrow==1.1.1
pluginbase==1.0.1
tzlocal==3.0
pyOpenSSL==20.0.1
configobj==5.0.6
async_generator==1.10
Click==8.0.1
python-pam==1.8.4
