demo-burp1:
  restart: always
  build: docker-burp1/
  volumes:
    - /srv/demo/spool/burp1/backup:/var/spool/burp
    - /srv/demo/spool/burp1/tmp:/tmp/bui

demo-burp2:
  restart: always
  build: docker-burp2/
  volumes:
    - /srv/demo/spool/burp2/backup:/var/spool/burp
    - /srv/demo/spool/burp2/tmp:/tmp/bui

demo-redis:
  restart: always
  image: redis:3
  command: redis-server --appendonly yes
  volumes:
    - /srv/demo/redis:/data

demo-mariadb:
  restart: always
  image: mariadb
  environment:
    - MYSQL_USER=burpui
    - MYSQL_PASSWORD=burpui
    - MYSQL_DATABASE=burpuidb
    - MYSQL_RANDOM_ROOT_PASSWORD=yes

demo-cli1:
  restart: always
  build: docker-cli1/
  volumes:
    - /srv/demo/files:/home
  links:
    - demo-burp1

demo-cli2:
  restart: always
  build: docker-cli2/
  volumes:
    - /srv/demo/files:/home
  links:
    - demo-burp2

demo-bui:
  restart: always
  build: docker-burpui/
  ports:
    - 127.0.0.1:5005:5000
  links:
    - demo-redis
    - demo-burp1
    - demo-burp2
    - demo-mariadb
