    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('home') }}">Burp Server Dashboard</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li {% if clients and overview %}class="active"{% endif %}><a href="{{ url_for('home') }}"><span class="glyphicon glyphicon-home"></span>&nbsp;Clients</a></li>
            <li class="disabled"><a href="#"><span class="glyphicon glyphicon-wrench"></span>&nbsp;Settings</a></li>
            <li class="disabled"><a href="#"><span id="toblink" class="glyphicon glyphicon-screenshot"></span>&nbsp;Live monitor</a></li>
            <li><a id="refresh" href="#"><span class="glyphicon glyphicon-refresh"></span></a></li>
          </ul>
          <form class="navbar-form navbar-right" id="search">
            <input type="text" class="form-control" id="input-client" placeholder="Search client..." autocomplete="off">
          </form>
        </div>
      </div>
    </div>
