{% extends "layout.html" %}
{% import 'macros.html' as macros %}
{% block body %}
        <div class="main">
          <h1 class="page-header">Login</h1>

          <div class="wrapper">
            {% call macros.render_form(form, action_url=url_for('login'), action_text='Login') %}
              {{ macros.render_field(form.username, placeholder='Username', type='text') }}
              {{ macros.render_field(form.password, placeholder='Password', type='password') }}
            {% endcall %}
          </div>
        </div>
{% endblock %}
