
          <div id="navbar-config">
            <h4>{{ _('User settings navigation') }}</h4>
            <ul class="nav nav-sidebar bui-scrollspy">
              <li class="active" data-target="#sessions"><a href="#sessions"><i class="fa fa-fw fa-list-alt" aria-hidden="true"></i>&nbsp;{{ _('Sessions') }}</a></li>
              <li data-target="#prefs"><a href="#prefs"><i class="fa fa-fw fa-cog" aria-hidden="true"></i>&nbsp;{{ _('Preferences') }}</a></li>
              <li data-target="#acl"><a href="#acl"><i class="fa fa-fw fa-lock" aria-hidden="true"></i>&nbsp;{{ _('Authorizations') }}</a></li>
            </ul>
          </div>
