# Burp-UI monitor configuration file
[Global]
# On which port is the application listening
port = 11111
# On which address is the application listening
# '::1' is the default for local IPv6
# set it to '127.0.0.1' if you want to listen on local IPv4 address
bind = ::1
# Pool size: number of 'burp -a m' process to load
pool = 5
# enable SSL
ssl = true
# ssl cert
sslcert = /var/lib/burp/ssl/server/ssl_cert-server.pem
# ssl key
sslkey = /var/lib/burp/ssl/server/ssl_cert-server.key
# monitor password
password = password123456

# burp backend specific options
[Burp]
# burp binary
burpbin = /usr/sbin/burp
# burp client configuration file used for the restoration
bconfcli = /etc/burp/burp.conf
# how many time to wait for the monitor to answer (in seconds)
timeout = 15
