[Global]
# On which port is the application listening
port: 5000
# On which address is the application listening
# '::' is the default for all IPv6
bind: ::
# enable SSL
ssl: false
# ssl cert
sslcert: /etc/burp/ssl_cert-server.pem
# ssl key
sslkey: /etc/burp/ssl_cert-server.key
# burp server version (currently only burp 1.x is implemented)
version: 1
# authentication plugin (mandatory)
# list the misc/auth directory to see the available backends
# to disable authentication you can set "auth: none"
auth: basic

[UI]
# refresh interval of the pages in seconds
refresh: 15

## burp1 backend specific options
#[Burp1]
## burp status port
#bport: 4972
## burp binary
#burpbin: /usr/sbin/burp
## temporary dir for the on the fly restoration
#tmpdir: /tmp/buirestore

## ldapauth specific options
#[LDAP]
## LDAP host
#host: 127.0.0.1
## LDAP filter to list existing users
##filter: &(burpui=1)
## LDAP base
#base: ou=users,dc=example,dc=com
## Binddn to list existing users
#binddn: cn=admin,dc=example,dc=com
## Bindpw to list existing users
#bindpw: Sup3rS3cr3tPa$$w0rd

## basicauth specific options
## Note: in case you leave this section commented, the default login/password
## is admin/admin
#[BASIC]
#admin: password
#user1: otherpassword
